html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.photo-card {
  margin: 10px;
}
.photo-card img {
  height: 400px;
  width: 600px;
  object-fit: cover;
}
.stats {
  display: flex;
  justify-content: center;
}
.stats-item:not(:first-child) {
  margin-left: 20px;
}
